body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    color: #343a40;
}

input[type="number"] {
    padding: 10px;
    width: 90%;
    margin: 10px 0;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 20px;
    font-size: 18px;
    color: #343a40;
}

a {
    color: #007bff; /* Link color */
    text-decoration: none; /* Remove underlines from links */
    font-weight: bold;
    transition: color 0.3s ease; /* Smooth color transition on hover */
  }
  
  /* Change link color on hover */
  a:hover {
    color: #0056b3;
  }
  
  /* Style for visited links */
  a:visited {
    color: #0056b3;
  }
  
  /* Style for active links (when clicked) */
  a:active {
    color: #ff0000;
  }